@CHARSET "ISO-8859-1";

	#top {
		display:none;

	}
	
	#left {
		display:none;
	}
		
	#content {
		background-color:#FFFFFF;
		color:#000000;
		position:relative;
		
		padding:5px;

		top: 5px;
		margin-left: 5px;
		margin-bottom:5px;
		
	}

	#bottom {
		display:none;
	}